body   
  {
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Ensure the container fills the viewport height */
  background-color:blanchedalmond;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

#container
  {
  text-align: center;
  }

.proper
  {
  height: 600px;
  width: 800px; 
  }