body
    {
    margin: 50px;
    padding: 0px;
    min-height: 100vh; /* Ensure the container fills the viewport height */
    background-color:blanchedalmond;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

div 
    {font-family: Arial, Helvetica, sans-serif;
    color: rgb(68, 110, 182);
    }
#container
    {
    text-align: center;
    }
  
.proper
    {
    height: 600px;
    width: 600px; 
    }